body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; 
    
  }



  .content-container {
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    width: 30%;
    box-sizing: border-box;
  }

  label {
    display: block;
    margin-top: 5px;
  }

  input, textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
  }

  #button{
    border-radius:"font-size: 16px";
    padding: 10px 20px;
    font-size: 5px;
  }
  